* {
font-family: "Roboto Condensed";
box-sizing: border-box;
}

h1 {
  color: #000;
  font-family: "Bree Serif";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center
}

h2 {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 100%;
}

p {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.recipe-list {
  display: flex;
  justify-content: center;
}

.recipes {
  margin: 1rem;
}

.container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}